.toolbar-container {
	padding: 1%;
	border-bottom: 2px solid #2c3e50;	
}
.toolbar-container-logo {
	font-family: bariolregular;
	font-size: 150%;
	float: left;
	padding-bottom: 1%;
}
.toolbar-container-logo-sub {
	color: #1abc9c;
}
.toolbar-container-home {
	float: left;
	margin-top: 3px;
	margin-left: 2%;
 	-o-transition: color .07s ease-out,.07s ease-in;
	-ms-transition: color .07s ease-out,.07s ease-in;
 	-moz-transition: color .07s ease-out,.07s ease-in;
 	-webkit-transition: color .07s ease-out,.07s ease-in;
 	transition: color .07s ease-out,.07s ease-in;
	letter-spacing: 1px;
}
.toolbar-container-home:hover {
	color: #1abc9c;
}
.toolbar-container-software {
	float: left;
	margin-top: 3px;
	margin-left: 2%;
 	-o-transition: color .09s ease-out,.09s ease-in;
	-ms-transition: color .09s ease-out,.09s ease-in;
 	-moz-transition: color .09s ease-out,.09s ease-in;
 	-webkit-transition: color .09s ease-out,.09s ease-in;
 	transition: color .09s ease-out,.09s ease-in;
	letter-spacing: 1px;
}
.toolbar-container-software:hover {
	color: #1abc9c;
}